.topMenu {
    width: 100%;
    background-color: lightgrey;
}

.btn {
    background-color: #4284F5;
}

ul {
    list-style-type: none;
    height: 30px;
    float:right;
}

li {
    display: inline-block;
    margin-top: 10px;
    padding-left: 20px;
}

.clear {
    clear: both;
}

.googleLogo {
    display:block;
    margin: 150px auto 20px auto;
    text-align: center;   
}

.searchBar {
    text-align: center;
}

#sBar {
    width: 50%;
    height: 40px;
    margin-bottom: 20px;
    border: .5px solid #b6babe;
    max-width: 500px;
}

.button {
    background-color: #F4F4F4;
    width: auto;
    border-radius: 3px;
    border: solid 5px #F4F4F4;
}

.buttons {
    color: darkgray;
}

.message {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message img {
    width: 38px;
    height: auto;
    display: block;
}

.message p{
    margin:10px 0 0 10px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 105%;
    height: 60px;
    background-color: #f5f5f5;
    display: block;
    margin-left: -20px;
}

.leftFooter {
    float:left;
    margin-top: 15px;
    margin-left: 20px;
}

.leftFooter a {
    text-decoration: none;
    padding-left: 20px;
    color: darkgray;
}

.rightFooter {
    float:right;
    margin-right: 60px;
    margin-top: 15px;
}

.rightFooter a {
    text-decoration: none;
    padding-right: 20px;
    color: darkgray;
}